<div class="container mt-2">
  <ng-container *ngIf="accounts | async as listaccounts ;else failureorloading " class="mt-2">
    <div class="card">
      <div class="card-header">
        Accounts
      </div>
      <div class="card-body">
        <table class="table mt-2" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">DATECREATED</th>
            <th scope="col">BALANCE</th>
            <th scope="col">STATUS</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let a of accounts |async">
            <td>{{a.id}}</td>
            <td>{{a.balance}}</td>
            <td>{{a.date}}</td>
            <td>{{a.status}}</td>
            <td>
              <button (click)="handleDeleteAccount(a)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #failureorloading>


    <ng-container *ngIf="errorMessage;else loading">
      <div class="text-danger">
        {{errorMessage }}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .........
    </ng-template>

  </ng-template>

</div>

