<div class="container mt-2">
  <ng-container *ngIf="operations | async as listoperation ;else failureorloading " class="mt-2">
    <div class="card">
      <div class="card-header">
        Accounts
      </div>
      <div class="card-body">
        <table class="table mt-2" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">OperationDate</th>
            <th scope="col">Amount</th>
            <th scope="col">TYPE</th>
            <th scope="col">Description</th>

          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let o of operations |async">
            <td>{{o.date}}</td>
            <td>{{o.amount}}</td>
            <td>{{o.type}}</td>
            <td>{{o.description}}</td>

          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #failureorloading>


    <ng-container *ngIf="errorMessage;else loading">
      <div class="text-danger">
        {{errorMessage }}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading .........
    </ng-template>

  </ng-template>

</div>


